<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/" class="btn btn-icon btn-soft-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="bg-home bg-circle-gradiant d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <div class="card login_page shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Nueva Contraseña</h4>
            <form class="login-form mt-4" (ngSubmit)="onSubmit()" *ngIf="cambioForm" [formGroup]="cambioForm">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Nuevo Password <span class="text-danger">*</span></label>
                    <i-feather name="key" class="fea icon-sm icons"></i-feather>
                    <input type="password" class="form-control pl-5" formControlName="nuevoPassword" placeholder="Nuevo Password" name="nuevoPassword" required=""
					[ngClass]="{ 'is-invalid': f.nuevoPassword.touched && f.nuevoPassword.errors, 'is-valid': f.nuevoPassword.touched && !f.nuevoPassword.errors }">
					<div *ngIf="f.nuevoPassword.touched && f.nuevoPassword.errors" class="invalid-feedback">
						<div *ngIf="f.nuevoPassword.errors.required">Nuevo Password es requerido</div>
					</div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button class="btn btn-primary btn-block">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
