<section class="fondo" *ngIf="lote">

	<div style="text-align:center; margin-left:10%; margin-right:10%; padding-bottom: 35px; padding-top: 130px;">
	<!--EN ESTA PARTE VA A IR LA INFORMACIÓN DEL LOTE QUE ESTÁ ACTUALMENTE EN PISTA, **ESTOS DATOS SON ACTUALIZABLES**-->
	<!--NÚMERO Y NOMBRE DE LOTE EN PISO, ACTUALIZABLE-->
	<label style="font-size: 34px; margin-right: 2%;" class="btn btn-estilo"><strong>{{ lote.numero }}. {{ lote.nombre }}</strong></label>
	<!--PUJA ACTUAL, ACTUALIZABLE-->
	<label style="font-size: 47px;padding-top: 50px;padding-bottom: 50px;" class="btn btn-estilo"><strong>{{ lastPuja ? (lastPuja.monto | currency) : '' }}</strong></label>
	<br>
	<!--ESTA IMÁGEN SERÍA LA PORTADA DEL LOTE!-->
	<img [src]="lote.archivoPortada.Location" style="border: 4px solid; color: #403e31; width:190px; margin-right: 14.2em;"><img>
	<!--FUENTE DE LA PUJA (INTERNET O PISO)-->
	<label style="font-size:62px;"class="btn btn-estilo"><strong>{{ lastPuja ? lastPuja.tipo : '' }}</strong></label>
	
	</div>

</section>