 <section class="bg-half-170 d-table w-100" id="ranchos">
    <div class="container">
        <div class="table-responsive bg-white shadow rounded mt-4">
            <table class="table mb-0 table-center">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Url</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let page of pages">
                        <td>{{ page.id }}</td>
                        <td>
							{{ page.slug }}
						</td>
                        <td>{{ page.urlRedireccion }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Acciones">
                                <button type="button" class="btn btn-secondary" [routerLink]="['/page/pages/editar', page.id]">Editar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 </section>

 <!-- Back to top -->
 <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
 </a>
 <!-- Back to top -->
