<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> <b>TÉRMINOS Y CONDICIONES.</b></h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Start Privacy -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <h5 class="card-title"><b>Términos y condiciones de la subasta adoptados por la Asociación Mexicana de Criadores de Ganado Beefmaster, 
              AC.  que se llevara a cabo el 18 de septiembre del 2021 en el Rancho Los Nogales, ubicado en  Carr. Nacional 
              Morelos – Linares Km. 189, Montemorelos, N.L.</b> </h5>
              
            <p class="text-muted"><b>TERMINOS: </b> <br> La subasta será de machos y hembras de Registro y deberá ser pagado de contado, de lo contrario 
              no se le dará salida a ningún animal, la Asociación Mexicana de Criadores de Ganado Beefmaster, AC. se reserva 
              el derecho de aceptar cheques personales. Si alguna de las ventas no se llega a liquidar al término del evento, 
              la Asociación Mexicana de Criadores de Ganado Beefmaster, AC. se reserva el derecho de vender el animal en la 
              forma que considere más conveniente.</p>


            <p class="text-muted"><b> POSTURA:</b> <br> Todos los animales presentados en este catalogo serán vendidos al mejor postor en el momento de la
              puja presencial.</p>

            <p class="text-muted"><b> DISPUTAS AL EFECTUARSE LA POSTURA:</b> <br> El subastador a cargo, resolverá cualquier disputa surgida durante las posturas
         y su decisión será inapelable.</p>

         <p class="text-muted"><b>RIESGOS:</b>  <br> El vendedor será responsable del animal vendido, encargándose de los gastos de alimentación, 
          manejo, accidentes y cuidados sanitarios que fuesen necesarios hasta el día 18 de septiembre del 2021 al 
             terminar la subasta, por lo que ese día el comprador tendrá la obligación de retirar el animal comprado, 
              terminado la obligación del vendedor y del organizador de la Subasta en todos los aspectos citados.</p>

              <p class="text-muted"><b>SALUD:</b> <br> Todos los animales considerados para ser subastados deberán presentarse clínicamente sanos, 
                siendo responsabilidad del vendedor cualquier reclamación que por este concepto presentara.</p>

              <p class="text-muted"><b> CERTIFICADOS DE REGISTRO DE RAZA:</b> <br> El certificado de raza expedido por la Asociación será proporcionado al comprador 
                para cada animal que sea subastado (y las crías demasiado jóvenes para ser marcadas al momento de la subasta, 
                deberán tener un numero de identificación y año de nacimiento tatuados o aretados en la oreja).</p>


              <p class="text-muted"><b> EMBARQUE: </b> <br> Se prestara toda la asistencia necesaria para el embarque de los animales hasta el día 18 de septiembre del 2021. 
                Después de ese día, tanto el cuidado como los gastos que se originen, serán por cuenta y riesgo del comprado.r</p>

              <p class="text-muted"><b> GARANTÍAS:</b> <br> Los animales serán ofrecidos tal y como están descritos en el catalogo, a menos que haya alguna observación por 
                parte del Subastador antes de realizar la subasta.</p>

              <p class="text-muted"><b>DERECHOS Y OBLIGACIONES: </b> <br> Los términos y condiciones de la venta arriba mencionados, constituirán un contrato entre el comprador y 
                el vendedor, y será obligatorio para ambos. La reventa de animales después de la compra en esta subasta, constituirá una transacción separada 
                sin responsabilidad para la Asociación.</p>

              <p class="text-muted"><b> MACHOS:</b> <br> Son garantizados por el criador en cuanto a fertilidad al ser sometidos a empadre por el comprador. En caso de no funcionar como reproductores, 
                deberán ser reportados por escrito dentro de los (6) seis meses siguientes de la compra, la Asociación Mexicana de Criadores de Ganado Beefmaster, AC.
                 para que éste a su vez informe, al consignatario quien dispondrá de 6 (seis meses para verificar si el toro es apto). En ningún caso se reintegrara al
                  comprador una cantidad mayor al precio de venta. No se garantiza que el semen de un toro vendido pueda ser congelado.</p>

              <p class="text-muted"><b> HEMBRAS:</b> <br> Las vaquillas abiertas se garantiza su fertilidad hasta los (30) meses de edad, en caso contrario el comprador deberá reclamar por escrito 
                al consignatario, teniendo este privilegio de probar que el animal es fértil durante un periodo de (6) meses, esto antes de volver el importe de la venta al comprador. 
                Las hembras consignadas como expuestas o inseminadas no se garantiza su preñez. En las hembras consignadas como gestantes se garantiza su preñez al momento de la venta más no la vida del producto.</p>

                <p class="text-muted"> <b> En ningún caso se reintegraran al comprador una cantidad mayor al precio de la venta. </b> </p>
                <br>

                <h5 style="text-align: center;"><b> ATENTAMENTE</b> <br> <br>
                  <b>Asociación Mexicana de Criadores de Ganado Beefmaster, AC.</b>
                </h5>

                <br>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

