 <section class="bg-half-170 d-table w-100" id="ranchos">
    <div class="container">
        <a href="#" [routerLink]="['/page/configuraciones-sliders/crear']" class="btn btn-primary">Crear</a>
        <div class="table-responsive bg-white shadow rounded mt-4">
            <table class="table mb-0 table-center">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Url</th>
                        <th scope="col">Orden</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let slider of sliders">
                        <td>{{ slider.id }}</td>
                        <td>
							<img width="100" [src]="slider.archivoImagen.Location" class="img-fluid" />
						</td>
                        <td>{{ slider.urlRedireccion }}</td>
                        <td>{{ slider.orden }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Acciones">
                                <button type="button" class="btn btn-secondary" [routerLink]="['/page/configuraciones-sliders/editar', slider.id]">Editar</button>
                                <button type="button" class="btn btn-danger" (click)="eliminar(slider)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 </section>

 <!-- Back to top -->
 <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
 </a>
 <!-- Back to top -->
