.bg-circle-gradiant {
    background-image: url('/assets/images/login.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-signup{
   /* width: 380px;
    padding-left: 115px;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 158px;
    padding-top: 15px;
}

.container {
    height: 100%;
}

.login_page {
    margin-top: 50px;
}

.bg-home {
	height: 191vh;
	position: relative;
}