 <section class="bg-half-170  d-table w-100" id="ranchos">
    <div class="container">
        <a href="#" [routerLink]="['/page/users-devoluciones/crear', userId]" class="btn btn-primary">Crear</a>
        <div class="table-responsive bg-white shadow rounded mt-4">
            <table class="table mb-0 table-center">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Creado Por</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let devolucion of usersDevoluciones | slice: (page-1) * pageSize : page * pageSize">
                        <td>{{ devolucion.user.username }}</td>
                        <td>{{ devolucion.monto | currency }}</td>
                        <td>{{ devolucion.creadoPor.username }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Acciones">
                                <button type="button" class="btn btn-info" [routerLink]="['/page/users-devoluciones/editar', userId, devolucion.id]">Editar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <ngb-pagination *ngIf="usersDevoluciones" [(page)]="page" [pageSize]="pageSize" [collectionSize]="usersDevoluciones.length"></ngb-pagination>
    </div>
 </section>

 <!-- Back to top -->
 <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
 </a>
 <!-- Back to top -->
